
/* TEXT STYLING */

* {
	padding:0;
	margin:0;
}
html { font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizelegibility;
	font-family: Garamond, 'EB Garamond', Georgia, serif;
}
body {
	color:#000000;
	font-family: 'Adobe Caslon Pro';
	font-weight: 400;
	position:relative;
	width:100%;
	height:100%;
	overflow: scroll;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;


}

#sfDIV{
	padding-left: 25%;
	padding-right: 6%;
	padding-bottom: 1%;
}

#sfMENU{
	padding-left: 2%;
	padding-right: 75%;
	padding-bottom: 1%;
}

.sf{
  color: #000000;
  background-color: #ffffff;
	margin-left: 0px;
	margin-right: 250px;
	overflow: scroll;
	padding-top: 8%;
}


a {
	text-decoration:none;
	color:#000000;
	outline:none;
}
img {
	max-width:100%;
}

h1 {
	font-family: 'Bodoni 72'  serif;
	font-size: 40px;
	font-style: bold;
	font-variant: normal;
	font-weight: 500;
	line-height: 40px;
	padding-bottom: 10px;
}
h2 {
	font-family: 'Garamond', 'EB Garamond' serif;
	font-size: 18px;
	font-style: regular;
	font-variant: normal;
	font-weight: 500;
	line-height: 15px;
  padding-bottom: 3px;
  color: #eb8f3e;
}
h3 {
	font-family: 'Garamond', 'EB Garamond' serif;
	font-size: 18px;
	font-style: normal;
	font-variant: normal;
	font-weight: 700;
	line-height: 20px;
	padding-bottom: 7px;

}
h4 {
	font-family: 'Garamond', 'EB Garamond' serif;
	font-size: 16px;
	font-style: italic;
	font-variant: normal;
	font-weight: 500;
	line-height: 17px;
}
h5 {
	font-family: 'Garamond', 'EB Garamond' serif;
	font-size: 16px;
	font-style: regular;
	font-variant: normal;
	font-weight: 800;
	line-height: 19px;
	padding-top: 6px;
}
h6 {
	font-family: 'Garamond', 'EB Garamond' serif;
	font-size: 16px;
	font-style: regular;
	font-variant: normal;
	font-weight: 500;
	line-height: 19px;
}


p {
	font-family: 'Garamond', 'EB Garamond'serif;
	font-size: 16px;
	font-style: regular;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  padding-top: 10px;
}

.land{
  color: #ffffff;
  background-color: #131b3e;
}



/* TOP MENU NAVIGATION */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #131b3e;
    overflow: hidden;
		position: fixed; /* Set the navbar to fixed position */
		top: 0; /* Position the navbar at the top of the page */
		width: 100%; /* Full width */
		/* padding-left: 27%; */
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 22px;
}

/* Change the color of links on hover */
.topnav a:hover {
    background-color: #eb8f3e;
    color: white;
}

/* Add an active class to highlight the current page */
.active {
    background-color: #eb8f3e;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}

.sidenav{
	height: 100%; /* Full-height: remove this if you want "auto" height */
	 width: 160px; /* Set the width of the sidebar */
	 position: fixed; /* Fixed Sidebar (stay in place on scroll) */
	 z-index: 1; /* Stay on top */
	 top: 0; /* Stay at the top */
	 left: 0;
	 background-color: #131b3e; /* Black */
	 overflow-x: hidden; /* Disable horizontal scroll */
	 padding-top: 20px;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: none;
    font-size: 22px;
		color: white;
    /* color: #818181; */
    display: block;
}

/* When you mouse over the navigation links, change their color */
.sidenav a:hover {
    color: #f1f1f1;
}

/* Style page content */
.main {
    margin-left: 160px; /* Same as the width of the sidebar */
    padding: 0px 10px;
}

/* On smaller screens, where height is less than 450px, change the style of the sidebar (less padding and a smaller font size) */
@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}
