
/* TEXT STYLING */

* {
	padding:0;
	margin:0;
}
html { font-size: 100%;
	-webkit-text-size-adjust: 100%;
	-ms-text-size-adjust: 100%;
	text-rendering: optimizelegibility;
	font-family: Garamond, 'EB Garamond', Georgia, serif;
}
body {
	color:#000000;
	font-family: 'Adobe Caslon Pro';
	font-weight: 400;
	font-style: normal;
	position:relative;
	width:100%;
	height:100%;
	overflow: scroll;
	overflow-x: hidden;
	-webkit-font-smoothing: antialiased;
}

#bluecolored {
	background-color: #131b3e;
	padding-top: 25%;
	width: 70%;
}

#sfDIV{
	padding-left: 25%;
	padding-right: 6%;
	padding-bottom: 1%;
}

#sfMENU{
	padding-left: 2%;
	padding-right: 75%;
	padding-bottom: 1%;
}

.sf{
  color: #000000;
  background-color: #ffffff;
	margin-left: 0px;
	margin-right: 250px;
	overflow: scroll;
	padding-top: 8%;
}
.widget {
	color: #000000;
	background-color: #ffffff;
	margin-left: 25px;
}

.list-group {
	color: #000000;
	background-color: #ffffff;
	margin-left: 25px;
}


a {
	text-decoration:none;
	color:#000000;
	outline:none;
}
img {
	max-width:100%;
}


h1 {
	font-family: 'Adobe Caslon Pro'  serif;
	font-size: 40px;
	font-style: bold;
	font-variant: normal;
	font-weight: 500;
	line-height: 40px;
	padding-bottom: 10px;
}

zz {
	font-family: 'Adobe Caslon Pro', serif;
	font-size: 40px;
	font-style: bold;
	font-variant: normal;
	font-weight: 500;
	line-height: 40px;
	padding-bottom: 10px;
}

h2 {
	font-family: 'Adobe Caslon Pro', serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 24px;
  padding-bottom: 3px;
	padding-top: 20px;
  color: black;
}
h3 {
	font-family: 'Adobe Caslon Pro', serif;
	font-size: 24px;
	font-style: normal;
	font-variant: normal;
	font-weight: 500;
	line-height: 24px;
  padding-bottom: 3px;
	padding-top: 10px;
  color: black;
}

h4 {
	font-family: 'Adobe Caslon Pro', serif;
	font-size: 24px;
	font-style: italic;
	font-variant: normal;
	font-weight: 500;
	line-height: 24px;
  padding-bottom: 3px;
	padding-top: 10px;
  color: black;
}

h5 {
	font-family: 'Bodoni', serif;
	font-size: 30px;
	font-style: normal;
	font-variant: normal;
	font-weight: 800;
	line-height: 30px;
	padding-top: 6px;
}
h6 {
	font-family: 'Garamond', 'EB Garamond' serif;
	font-size: 16px;
	font-style: regular;
	font-variant: normal;
	font-weight: 500;
	line-height: 19px;
}


p {
	font-family: 'Adobe Caslon Pro', serif;
	font-size: 16px;
	font-style:  normal;
	font-variant: normal;
	font-weight: 400;
	line-height: 20px;
  padding-top: 10px;
}

.land{
  color: #ffffff;
  background-color: #131b3e;
}



/* TOP MENU NAVIGATION */

/* Add a black background color to the top navigation */
.topnav {
    background-color: #131b3e;
    overflow: hidden;
		position: fixed; /* Set the navbar to fixed position */
		top: 0; /* Position the navbar at the top of the page */
		width: 100%; /* Full width */
		/* padding-left: 27%; */
}

/* Style the links inside the navigation bar */
.topnav a {
    float: left;
    display: block;
    color: white;
    text-align: center;
    padding: 14px 14px;
    text-decoration: none;
    font-size: 22px;
}


/* Add an active class to highlight the current page */
.active {
    background-color: #eb8f3e;
    color: white;
}

/* Hide the link that should open and close the topnav on small screens */
.topnav .icon {
    display: none;
}


.button {
    background-color: #131b3e;
    border: none;
    color: white;
    padding: 15px 32px;
    text-align: left;
    text-decoration: none;
    display: inline-block;
    font-size: 32px;
		border-radius: 12px;
}

.button {
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
}

.button:hover {
    background-color: #131b3e;
    color: #eb8f3e;
}

.big-button {
    background-color: #131b3e;
		width: 50%;
		height: 70%;
    color: white;
    /* border: 1px solid black; /* Gray */ */
    padding: 5px 5px;
    text-align: center;
    text-decoration: none;
    display: inline-block;
    font-size: 14px;
    -webkit-transition-duration: 0.4s; /* Safari */
    transition-duration: 0.4s;
		font-size: 40px;
}

.big-button:hover {
    background-color: #eb8f3e; /* Gray */
    color: white;
		}

/* Split the screen in half */
.split {
  height: 100%;
  width: 50%;
  position: fixed;
  z-index: 1;
  top: 0;
  overflow-x: hidden;
  padding-top: 20px;
}

/* Control the left side */
.left {
  left: 0;
  background-color: #131b3e;
	color: white;
}

/* Control the right side */
.right {
  right: 0;
  background-color: #131b3e;
	color: white;
}

.right e:hover {
		/* font-style: italic; */
		color: #eb8f3e;
}

/* If you want the content centered horizontally and vertically */
.centered {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  text-align: left;
}

/* Style the image inside the centered container, if needed */
.centered img {
  width: 150px;
  border-radius: 50%;
}


.column {
    float: left;
}

.row:after {
    content: "";
    display: table;
    clear: both;
}

.left2 {
    width: 20%;
		background-color: #ffffff;
		color: #000000;
	}

.right2 {
    width: 65%;
		background-color: #ffffff;
		color: #000000;
}

.left2 i:hover {
	text-decoration: underline;
}
.right2 i:hover {
	text-decoration: underline;
}
